# Python defaults
**/__pycache__/
*.py[cod]
*$py.class

# Type checking and linting
*.mypy_cache
.ruff_cache

# Environment
.venv
.env

# Build
build/
dist/
*.egg-info/

# Tests / Coverage
.pytest_cache/
.coverage
htmlcov/